/*
body {
	margin: 0;
	padding: 0 0 0 0;
	background: none;
	font: normal 0.9em/150% arial, verdana, sans-serif;
}

.menu {
	margin-bottom: 3%;
}

.container {
	width: 60%;
}

.table-header-phone {
	width: 15%;
}

.data-table tr:hover {
	background-color: lightgrey;
}

.container, .details-container {
	float: left;
}

.details-container {
	width: 38%;
	margin-left: 2%;
}

.search-container {
	padding-bottom: 3%;
	float: left;
}

.search-container input {
	width: 75%;
}

.search-container button {
	width: 12%;
}

.search-container table {
	margin-top: 3%;
}

.details-form .medium {
	width: 50%;
}

.details-form .small {
	width: 25%;
}
*/
