body {
	margin: 0;
	padding: 0 0 0 0;
	background: none;
	font: normal 0.9em/150% arial, verdana, sans-serif;
}

.menu {
	margin-bottom: 3%;
}

.container {
	width: 60%;
}

.table-header-phone {
	width: 15%;
}

.data-table tr:hover {
	background-color: lightgrey;
}

.container, .details-container {
	float: left;
}

.details-container {
	width: 38%;
	margin-left: 2%;
}

